.App {
  font-family: sans-serif;
  text-align: center;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hw-logo {
  width: 15%;
  height: 40px;
  margin: 10px;
}

.hw-header nav.navbar {
  min-height: 57px;
  margin-bottom: 0;
  padding: 0 16px;
  z-index: 120;
  position: relative;
  border: 1px solid transparent;
  border-bottom-color: #bfc4ce;
  background-color: #fff;
}

.hw-header nav.navbar .container-fluid {
  padding: 0;
}

.hw-header nav.navbar .container-fluid .navbar-brand {
  width: 116px;
  text-indent: -200px;
  overflow: hidden;
  padding: 0;
  font-size: 20px;
  margin: 0 12px 0 0;
  text-transform: none;
  height: 54px;
  background-position-y: center;
}

@media (max-width: 767px) {
  .hw-header nav.navbar {
    padding: 0 16px 0 8px;
  }

  .hw-header nav.navbar .container-fluid {
    padding-left: 8px;
  }

  .hw-header nav.navbar .container-fluid .navbar-brand {
    width: 87px;
    background-size: 87px 18px;
    background-position: 0;
    margin: 0;
    height: 54px;
  }
}

#checkinInfo {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#checkinInfo td,
#checkinInfo th {
  border: 1px solid #ddd;
  padding: 8px;
}

#checkinInfo tr:nth-child(even) {
  background-color: #f2f2f2;
}

#checkinInfo tr:hover {
  background-color: #ddd;
}

#checkinInfo th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}

#checkinInfo img {
  height: 400px;
  width: 400px;
}

button {
  margin: 10px 0;
  padding: 10px;
  background: red;
  border: none;
  border-radius: 3px;
}

button.secondary {
  background: gray;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.details {
  padding: 10px;
}
